.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: var(--avatar-bg-color);
  color: var(--avatar-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  overflow: hidden;
  flex-shrink: 0;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initial {
  user-select: none;
}
