.avatar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  overflow: hidden;
  background-color: var(--avatar-bg-color);
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.9375rem var(--shadow-icon-circle);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--avatar-color);
}

.initial {
  user-select: none;
}
