/* .backdrop-in-card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0 0 0 / 60%);
  border-radius: var(--radius-md);
  backdrop-filter: blur(0.1875rem);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  width: 90%;
  max-width: 32.75rem;
  max-height: 90%;
  min-height: 15rem;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: var(--blok-description-bg-color);
  border: none;
  border-radius: var(--radius-sm);
  box-shadow: var(--box-shadow);
  text-align: center;
  white-space: normal;
  transform: translate(-50%, -50%);
}

.popup-close-button {
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
  z-index: 1;
}

.description-text {
  padding-top: 0.625rem;
  font-size: 1.2rem;
  line-height: 1.3;
  text-align: justify;
  text-indent: 1rem;
  color: var(--primary-color);
}

@media (width <= 74.9375rem) {
  .popup-content {
    max-width: 90%;
    min-height: 15rem;
  }

  .description-text {
    font-size: 1.15rem;
    line-height: 1.25;
  }
}

@media (width <= 61.9375rem) {
  .popup-content {
    min-height: 12.5rem;
  }

  .description-text {
    font-size: 1.1rem;
    line-height: 1.2;
  }
}

@media (width <= 47.9375rem) {
  .popup-content {
    min-height: 11.25rem;
  }

  .description-text {
    font-size: 1.05rem;
    line-height: 1.15;
  }
}

@media (width <= 29.9375rem) {
  .popup-content {
    min-height: 12.5rem;
  }

  .description-text {
    font-size: 1rem;
    line-height: 1.1;
  }
} */
