.reviews-section {
  max-width: 68.75rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 1.5rem;
  background-color: var(--body-bg-color);
  border-bottom: 0.0625rem solid var(--section-border-bottom-color);
  box-shadow: inset 0 -0.625rem 0.625rem -0.3125rem
    var(--section-border-bottom-color);
  font-family: Inter, sans-serif;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  animation: header-slide-down 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.reviews-container {
  max-width: 68.75rem;
  margin: 0 auto;
}

.reviews-title {
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  text-align: center;
  color: var(--primary-color);
}

.title-underline {
  width: 5rem;
  height: 0.25rem;
  margin: 0 auto 1.5rem;
  background-color: var(--primary-color);
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}

.reviews-card {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: var(--reviews-card-bg-color);
  border-radius: 0.9375rem;
  box-shadow: 0 0.625rem 1rem var(--shadow-reviews-card);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.reviews-card:hover {
  box-shadow: 0 0.9375rem 2.8125rem var(--shadow-reviews-card);
  transform: translateY(-0.625rem);
}

.rating {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.125rem;
  color: var(--color-amber);
}

.reviews-text {
  position: relative;
  flex-grow: 1;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.7;
  color: var(--reviews-text-color);
}

/* Лапки для відгуку */
.reviews-text::before {
  position: absolute;
  top: -1.25rem;
  left: -0.625rem;
  font-family: serif;
  font-size: 4rem;
  color: var(--reviews-text-color);
  opacity: 0.1;
  content: '"';
}

.reviews-name {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  color: var(--reviews-text-color);
}

@media (width <= 48rem) {
  .reviews-title {
    font-size: 2.2rem;
  }

  .reviews-grid {
    grid-template-columns: 1fr;
  }
}
