/* Базові стилі всього додатка */
* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  letter-spacing: normal;
}

/* .inputWrapper {
  position: relative;
  width: 100%;
} */
.input-wrapper {
  position: relative;
  width: 100%;
}

/* Посилання */
a {
  text-decoration: none;
  color: inherit;
}

/* Кнопки */
button {
  cursor: pointer;
  background: none;
  border: none;
}

/* Заголовки */
h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
}

/* Текст */
p {
  font-size: 1rem;
}
html {
  scroll-behavior: smooth;
}

/* Додатково: щоб при скролі до секції заголовок її не перекривав */
section {
  scroll-margin-top: 80px; /* Налаштуйте під фактичну висоту вашого хедера */
}
/* Робимо стрілки видимими та більшими */
.react-datepicker__navigation {
  top: 10px !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #5d4037 !important; /* Кавовий колір для стрілок */
  border-width: 2px 2px 0 0 !important;
}

/* Якщо стрілки все одно ховаються */
.react-datepicker__navigation--previous {
  left: 10px !important;
}

.react-datepicker__navigation--next {
  right: 10px !important;
}
/* Анімація для всього тексту на сайті */
p,
span,
h1,
h2,
h3,
h4,
a,
button,
li {
  /* Анімація спрацьовуватиме при кожній зміні вмісту */
  animation: languageFade 0.4s ease-out;
}

@keyframes languageFade {
  0% {
    opacity: 0.5;
    filter: blur(1px); /* Легке розмиття додає преміальності */
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Захист від зсуву вбік (якщо з'являється скролбар) */
html {
  scrollbar-gutter: stable;
}
html {
  scroll-behavior: smooth;
}
