/* CSS-змінні */

:root {
  /* Dimensions */

  /* padding */
  --padding-xl: 0 4rem; /* max-width: 1440px, padding-desktop */
  --padding-lg: 0 2.5rem; /* max-width: 1199px, padding-laptop */
  --padding-md: 0 1.5rem; /* max-width: 991px, padding-tablet */
  --padding-sm: 0 1.25rem; /* max-width: 767px, padding-mobile */
  --padding-xs: 0 1rem; /* max-width: 479px, padding-mobile */
  --padding-min: 0 0.5rem; /* max-width: 359px, padding-mobile */

  /* padding form */
  --padding-form-xl: 4rem; /* 64px */
  --padding-form-lg: 2.5rem; /* 40px */
  --padding-form-md: 1.5rem; /* 32px */
  --padding-form-sm: 1.25rem; /* 20px */
  --padding-form-xs: 1rem; /* 16px */
  --padding-form-min: 0.5rem; /* 8px */

  /* spacing */
  --spacing-sm: 0.25rem; /* 4px */
  --spacing-md: 0.375rem; /* 6px */
  --spacing-lg: 1.125rem; /* 18px */

  /* gap */
  --gap-xl: 4rem; /* 64px */
  --gap-lg: 2.5rem; /* 40px */
  --gap-md: 1.5rem; /* 24x */
  --gap-sm: 1.25rem; /* 20x */
  --gap-xs: 1rem; /* 16x */

  /* border */
  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.75rem; /* 12px */
  --radius-lg: 1.25rem; /* 20px */
  --radius-full: 624.9375rem; /* 9999px */

  /* image */
  --image-min-height: 19.5rem; /* 312px */

  /* form */
  --form-max-width-xl: 39rem; /* 624px */
  --form-max-width-lg: 33.6875rem; /* 539px */
  --form-max-width-md: 28.6875rem; /* 459px */

  /******************************************************  */

  /* Palette colors COFFEE COMFORT */

  /* Primary colors */
  --color-white: #fff; /* Білий колір, rgb(255 255 255 / 100%) */
  --color-black: #000; /* Чорний колір, rgb(0 0 0 / 100%) */
  --color-brown: #1a1512; /* Коричневий колір як дуже темна кава, rgb(26 21 18 / 100%) */
  --color-gold: #d49d65; /*Золотистий колір, rgb(212 157 101 / 100%) */
  --color-gray: #4a4a4a; /*Сірий колір як графіт, rgb(74 74 74 / 100%) */
  --color-beige: #f4f1ea; /* Бежевий колір, rgb(244 241 234 / 100%) */

  /* Shades */
  --color-light-brown: #5c3d2e; /*Глибокий коричневий як шоколад, rgb(92 61 46 / 100%) */
  --color-dark-brown: #141110; /* Вугільний з теплим підтоном  як еспресо, rgb(20 17 16 / 100%) */
  --color-dark-brown1: #121212; /* Глибокий матовий темний як чорна кава, rgb(18 18 18 / 100%) */
  --color-latte-coffee: #d4a373; /* Світло-золотистий як мускатний горіх, rgb(212 163 115 / 100%) */
  --color-amber: #ffcc33; /*Бурштиновий колір як сонячне сяйво*/
  --color-light-beige: #fdfaf5; /*Світло-бежевий як топлене молоко,rgb(253 250 245 / 100%)  */
  --color-dark-beige: #f8f4ec; /*Темно-бежевий як пісок, rgb(248 244 236 / 100%)  */
  --color-latte-coffee-50: rgb(212 163 115 / 50%);
  --color-light-brown-80: rgb(92 61 46 / 80%);
  --color-light-gray-50: rgb(244 241 234 / 50%); /*світло-сірий на 50% */
  --color-light-gray-80: rgb(244 241 234 / 80%); /*світло-сірий на 50% */
  --color-light-gray-100: rgb(244 241 234 / 100%); /*світло-сірий на 100% */
  --color-dark-gray-50: rgb(107 105 101 / 50%); /* темно-сірий на 50% */
  --color-dark-gray-80: rgb(107 105 101 / 80%); /* темно-сірий на 50% */
  --color-dark-gray-100: rgb(107 105 101 / 100%);

  --color-terracotta-15: rgb(212 157 101 / 15%);

  --color-white-50: rgb(255 255 255 / 50%); /*Білий на 50%*/
  --color-black-50: rgb(0 0 0 / 50%); /*Чорний на 50%*/

  --color-white-20: rgb(255 255 255 / 20%); /*Біли1 на 20%*/
  --color-black-20: rgb(0 0 0 / 20%); /*Чорний на 20%*/

  --color-muted-white: 150 150 150;
  --color-pure-white: 255 255 255;

  /*************************************  */

  /* Elements whose colors do not change */

  --hover-bg-color: #d4a373;
  --hover-color: #d4a373;
  --hover-input-area-color: #fff;
  --hover-button-color: #fff;
  --active-color: #d4a373;
  --error-color: #ff4d4f; /* Класичний червоний для помилок */
  --warning-color: #ff9800; /* Помаранчевий для попереджень */
  /************************************* */
  /* LIGHT THEME  */

  /*bg color*/
  --header-footer-bg-color: var(--color-dark-beige);
  --body-bg-color: var(--color-light-beige);
  --underline-bg-color: var(--color-light-brown);
  --underline-bg-filter-btn-color: var(--color-light-brown);
  --modal-content-bg-color: var(--color-light-beige);
  --contact-form-bg-color: var(--color-light-brown);
  --reviews-card-bg-color: var(--color-light-brown);

  /* color */
  --primary-color: var(--color-light-brown);
  --secondary-color: var(--color-gold);
  --tertiary-color: var(--color-gray);
  --quaternary-color: var(--color-latte-coffee);
  --quinary-color: var(--color-light-brown);
  --placeholder-color: var(--color-light-gray-50);

  /*logo color*/
  --logo-primary-color: var(--color-light-brown);
  --logo-secondary-color: var(--color-latte-coffee);
  --steam-color: var(--color-muted-white);

  /* button, button-icon color */
  --toggle-theme-icon-color: var(--color-light-brown);
  --button-burger-icon-color: var(--color-light-brown);
  --button-close-icon-color: var(--color-light-brown);
  --button-cta-bg-color: var(--color-latte-coffee);
  --button-form-bg-color: var(--color-latte-coffee);
  --button-form-color: var(--color-light-brown);
  --button-cta-color: var(--color-white);
  --button-up-bg-color: var(--color-latte-coffee);
  --button-up-color: var(--color-light-brown);
  --filter-btn-bg-color: var(--color-latte-coffee);
  --filter-btn-color: var(--color-light-brown);
  --top-badge-bg-color: var(--color-latte-coffee);
  --top-badge-color: var(--color-light-brown);
  --item-description-color: var(--color-dark-gray-80);
  --contact-submit-btn-bg-color: var(--color-latte-coffee);
  --contact-input-textarea-bg-color: var(--color-latte-coffee);
  --text-form-color: var(--color-brown);
  --text-alt-color: var(--color-brown);
  --text-reviews-color: var(--color-white);

  /* icon, label color */
  --icon-circle-bg-color: var(--color-light-brown);
  --icon-circle-color: var(--color-white);
  --circle-label-bg-color: var(--color-gold);
  --circle-label-color: var(--color-white);
  --reviews-card-bg-color: var(--color-light-brown);
  --reviews-text-color: var(--color-white);
  /* --icon-map-color: #e63946;  */
  /* Темніший червоний */
  /* --icon-clock-color: #d4a017; */
  /*Глибокий золотистий*/
  /* --icon-map-color: #ef4444; */
  /* Яскравий червоний */
  /* --icon-clock-color: #f59e0b; */
  /* Насичений бурштиновий */
  /* --icon-map-color: #c2410c;  */
  /* Теракотовий */
  /* --icon-clock-color: #b45309;  */
  /* Глибокий коричнево-золотий */
  --icon-map-color: #dc2626; /* Насичений червоний */
  --icon-clock-color: #ca8a04; /* Колір "Охра" */
  /* border color */
  --section-border-bottom-color: var(--color-latte-coffee-50);
  --circle-big-border-color: var(--color-white);
  --circle-medium-border-color: var(--color-light-gray-50);
  --circle-small-border-color: var(--color-dark-gray-50);
  --input-textarea-border-color: var(--color-light-brown);
  --button--border-color: var(--color-white);
  /* box-shadow color */
  --shadow-icon-circle: var(--color-black-50);
  --shadow-circle: var(--color-black-50);
  --shadow-up-button: var(--color-black-50);
  /* --shadow-menu: var(--color-black-50); */
  --shadom-image-wrapper: var(--color-black-20);
  --shadom-modal-content: var(--color-white-20);
  --shadow-reviews-card: var(--color-black-20);
  --shadow-contacts-map-form: var(--color-black-50);
}

.dark-theme {
  /************************************* */
  /* DARK THEME */

  /*bg color*/
  --header-footer-bg-color: var(--color-dark-brown1);
  --body-bg-color: var(--color-dark-brown);
  --underline-bg-color: var(--color-gold);
  --underline-bg-filter-btn-color: var(--color-light-brown);
  --modal-content-bg-color: var(--color-light-beige);
  --contact-form-bg-color: var(--color-latte-coffee);
  --reviews-card-bg-color: var(--color-latte-coffee);
  /* color */
  --primary-color: var(--color-gold);
  --secondary-color: var(--color-light-brown);
  --tertiary-color: var(--color-light-beige);
  --quaternary-color: var(--color-latte-coffee);
  --quinary-color: var(--color-latte-coffee);
  --placeholder-color: var(--color-light-brown-80);

  /*logo color*/
  --logo-primary-color: var(--color-beige);
  --logo-secondary-color: var(--color-latte-coffee);
  --steam-color: var(--color-pure-white);

  /*button, button-icon color */
  --toggle-theme-icon-color: var(--color-amber);
  --button-burger-icon-color: var(--color-beige);
  --button-close-icon-color: var(--color-beige);
  --button-cta-bg-color: var(--color-latte-coffee);
  --button-cta-color: var(--color-dark-brown1);
  --button-form-bg-color: var(--color-light-brown);
  --button-form--color: var(--color-white);
  --filter-btn-bg-color: var(--color-latte-coffee);
  --filter-btn-color: var(--color-light-brown);
  --top-badge-bg-color: var(--color-latte-coffee);
  --top-badge-color: var(--color-light-brown);
  --item-description-color: var(--color-light-gray-80);
  --contact-submit-btn-bg-color: var(--color-light-brown);
  --contact-input-textarea-bg-color: var(--color-light-brown);
  --text-form-color: var(--color-white);
  --text-alt-color: var(--color-white);
  --text-reviews-color: var(--color-dark-brown1);

  /* icon, label color */
  --icon-circle-bg-color: var(--color-gold);
  --icon-circle-color: var(--color-black);
  --circle-label-bg-color: var(--color-gold);
  --circle-label-color: var(--color-black);
  --reviews-card-bg-color: var(--color-gold);
  --reviews-text-color: var(--color-black);
  /* --icon-map-color: #ff6b6b;
  --icon-clock-color: #ffcc33; */
  /* --icon-map-color: #f87171; */
  /* Пастельно-червоний */
  /* --icon-clock-color: #fbbf24; */
  /* Світло-жовтий */
  /* --icon-map-color: #fb923c;  */
  /* Оранжевий "захід сонця" */
  /* --icon-clock-color: #fcd34d;  */
  /* Ніжний кремовий жовтий */
  --icon-map-color: #ff5555; /* Неоновий червоний */
  --icon-clock-color: #ffd700; /* Чисте золото */

  /* border color */
  --section-border-bottom-color: var(--color-latte-coffee-50);
  --circle-big-border-color: var(--color-white);
  --circle-medium-border-color: var(--color-light-gray-50);
  --circle-small-border-color: var(--color-dark-gray-50);
  --input-textarea-border-color: var(--color-light-brown);
  --button--border-color: var(--color-white);

  /* box-shadow color */
  --shadow-icon-circle: var(--color-white-50);
  --shadow-circle: var(--color-white-50);
  --shadow-up-button: var(--color-black-50);
  /* --shadow-menu: var(--color-white-50); */
  --shadom-image-wrapper: var(--color-white-20);
  --shadom-modal-content: var(--color-white-20);
  --shadow-reviews-card: var(--color-white-20);
  --shadow-contacts-map-form: var(--color-white-50);
}
