.card-review-modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rating-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-review-modal {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 2px solid var(--color-light-gray-50);
  border-bottom: 2px solid var(--color-light-gray-50);
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.6;
  text-align: justify;
  white-space: pre-wrap;
  color: var(--text-reviews-color);
  text-justify: inter-word;
  hyphens: auto;
}

.card-review-modal-footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.user-info-modal {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

.user-data-modal {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.author-name-modal {
  font-size: 1.1rem;
  color: var(--text-reviews-color);
}

.date-modal {
  font-size: 1rem;
  color: var(--text-reviews-color);
  opacity: 0.8;
}
