/*  */
.theme-toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.theme-toggle-btn:hover {
  background-color: rgba(255, 204, 51, 0.1);
  transform: scale(1.1) rotate(45deg); /* Поворот на 45 градусів при наведенні */
}

/* Іконка Сонця (активна в темній темі) */
.theme-icon-md-light {
  color: var(--toggle-theme-icon-color);
  font-size: 1.4rem;
  /* Анімація м'якого пульсуючого сяйва */
  animation: sun-glow 3s infinite ease-in-out;
  filter: drop-shadow(0 0 5px rgba(255, 204, 51, 0.6));
}

/* Іконка Місяця (активна у світлій темі) */
.theme-icon-md-dark {
  color: var(--toggle-theme-icon-color);
  font-size: 1.4rem;
  filter: drop-shadow(0 0 2px rgba(212, 163, 115, 0.3));
  transition: all 0.3s ease;
}

/* Анімація для сонечка */
@keyframes sun-glow {
  0% {
    filter: drop-shadow(0 0 3px rgba(255, 204, 51, 0.4));
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(0 0 12px rgba(255, 204, 51, 0.8));
    transform: scale(1.1); /* Легке збільшення, ніби воно "дихає" */
  }
  100% {
    filter: drop-shadow(0 0 3px rgba(255, 204, 51, 0.4));
    transform: scale(1);
  }
}

/* Адаптивність */
@media (max-width: 48rem) {
  .theme-icon-md-light,
  .theme-icon-md-dark {
    font-size: 1.2rem;
  }
}
