.theme-toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.theme-toggle-btn:hover {
  background-color: rgb(255 204 51 / 10%);
  transform: scale(1.1) rotate(45deg);
}

.theme-icon-md-light {
  font-size: 1.4rem;
  color: var(--toggle-theme-icon-color);
  animation: sun-glow 3s infinite ease-in-out;
  filter: drop-shadow(0 0 0.3125rem rgb(255 204 51 / 60%));
}

.theme-icon-md-dark {
  font-size: 1.4rem;
  color: var(--toggle-theme-icon-color);
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 0.125rem rgb(212 163 115 / 30%));
}

@keyframes sun-glow {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0.1875rem rgb(255 204 51 / 40%));
  }

  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.75rem rgb(255 204 51 / 80%));
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0.1875rem rgb(255 204 51 / 40%));
  }
}

@media (max-width: 74.9375rem) {
  .theme-icon-md-light,
  .theme-icon-md-dark {
    font-size: 1.2rem;
  }
}

@media (max-width: 61.9375rem) {
  .theme-icon-md-light,
  .theme-icon-md-dark {
    font-size: 0.9rem;
  }
}
