/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  animation: fadeIn 0.3s ease-in-out;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  background-color: var(--body-bg-color);
  border: 0.0125rem solid var(--border-color);
  border-radius: var(--radius-sm);
  animation: scaleUp 0.3s ease-in-out;
}

.modal-body {
  flex-grow: 1;
  margin-bottom: 1rem;
  padding: var(--padding-xl);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body.modal-open {
  overflow: hidden;
}

.modal-header-container {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  min-height: 4.5rem;
  padding: var(--padding-xl);
  background-color: var(--header-bg-color);
  border-bottom: 0.0625rem solid var(--border-color);
}

.logo-in-modal {
  color: var(--logo-primary-color);
}

.close-btn {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.modal-title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: var(--padding-xl);
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: var(--primary-color);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scale-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (width <= 74.9375rem) {
  .modal-body {
    padding: var(--padding-lg);
  }

  .modal-header-container {
    min-height: 4rem;
    padding: var(--padding-lg);
  }

  .modal-title {
    padding: var(--padding-lg);
    font-size: 1.2rem;
  }
}

@media (width <= 61.9375rem) {
  .modal-body {
    padding: var(--padding-md);
  }

  .modal-header-container {
    min-height: 3.75rem;
    padding: var(--padding-md);
  }

  .modal-title {
    padding: var(--padding-md);
    font-size: 1.1rem;
  }
}

@media (width <= 47.9375rem) {
  .modal-body {
    padding: var(--padding-sm);
  }

  .modal-header-container {
    min-height: 3.4375rem;
    padding: var(--padding-sm);
  }

  .modal-title {
    padding: var(--padding-sm);
    font-size: 1rem;
  }
}

@media (width <= 29.9375rem) {
  .modal {
    max-width: 95vw;
    max-height: 95vh;
  }

  .modal-body {
    padding: var(--padding-xs);
  }

  .modal-header-container {
    min-height: 3.125rem;
    padding: var(--padding-xs);
  }

  .modal-title {
    padding: var(--padding-xs);
    font-size: 0.9rem;
  }
} */
