.gallery-section {
  position: relative;
  padding: 4rem 0;
  background-color: var(--body-bg-color);
  border-bottom: 0.0625rem solid var(--section-border-bottom-color);
  box-shadow: inset 0 -0.625rem 0.625rem -0.3125rem
    var(--section-border-bottom-color);

  /* font-family: Inter, sans-serif; */
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  animation: header-slide-down 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.gallery-container {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.gallery-title {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;

  /* font-family: 'Playfair Display', serif; */

  /* font-size: 3rem; */

  color: var(--primary-color);
}

.title-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.line {
  width: 6.25rem;
  height: 0.1875rem;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-light-brown),
    transparent
  );
}

.ornament {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.gallery-subtitle {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: var(--primary-color);
}

/* СІТКА */

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 1.5rem;
} */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
  gap: 1.5rem;
}

/* КНОПКА-ОБОРТКА КАРТИНКИ */
.thumb-btn {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background: none;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.9375rem var(--shadom-image-wrapper);
  transition: transform 0.3s ease;

  /* Робимо всі картинки квадратними */
  aspect-ratio: 1 / 1;
}

.thumb-btn:hover {
  transform: translateY(-0.3125rem);
}

/* САМА КАРТИНКА */
.thumb-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  object-fit: cover; /* Заповнює квадрат без деформації */
}

.thumb-btn:hover .thumb-img {
  transform: scale(1.08);
}
