.burger-button {
  position: relative;
  z-index: 2501;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--button-burger-icon-color);
  transition:
    transform 0.6s cubic-bezier(0.16, 1, 0.3, 1),
    color 0.3s ease;
}

.icon {
  display: block;
  width: 2rem;
  height: 2rem;
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.is-active {
  position: fixed;
  top: 0.9375rem;
  right: 1.5rem;
  transform: rotate(180deg);
}

.burger-button:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}

.is-active:hover {
  transform: rotate(180deg) scale(1.1);
}

.burger-button:active {
  transform: scale(0.9);
}

@media (width <= 47.9375rem) {
  .icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}

@media (width <= 29.9375rem) {
  .icon {
    width: 1.625rem;
    height: 1.625rem;
  }

  .is-active {
    top: 0.75rem;
    right: 1.25rem;
  }
}
