.scroll-to-top-button {
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--accent-primary);
  border: 0.175rem solid var(--cart-btn-border);
  border-radius: var(--radius-full);
  box-shadow: 0 0.2rem 0.9375rem var(--cart-btn-shadow);
  color: var(--cart-btn-fg);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    background-color 0.3s ease;
  transform: translateY(1.25rem);
  user-select: none;
}

.visible {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
}

.scroll-to-top-button:hover {
  transform: translateY(0) scale(1.05);
}

.scroll-to-top-button:active {
  transform: translateY(0) scale(0.95);
}

.icon {
  width: 2rem;
  height: 2rem;
  stroke: currentcolor;
}
