.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  background: transparent;
  border: none;
  border-radius: var(--btn-radius, 12.5rem);
  font-family: Inter, sans-serif;
  font-size: var(--btn-font-size, 1rem);
  font-weight: 500;
  line-height: 1.5;
  white-space: nowrap;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    filter 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Модифікатори розмірів */
.small {
  padding: 0.4rem 1rem;
  border: 0.125rem solid var(--border-color);
  font-size: 0.9rem;
}

.large {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

/* Фіксована ширина для симетрії */
.fixed-width {
  min-width: 13.75rem;
}

/* Основна кнопка (Primary) */
.primary {
  background-color: var(--button-review-menu-bg-color);
  border: 0.0625rem solid var(--button-border-color);
  box-shadow: 0 0.25rem 0.9375rem var(--shadow-icon-circle);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--button-form-color);
}

.primary:hover:not(:disabled) {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-color);
  transform: translateY(-0.1875rem);
  filter: brightness(1.1);
}

/* Стан Active (для фільтрів у меню) */
.active {
  background-color: var(--button-hover-bg-color);
  border-bottom: 0.125rem solid var(--primary-color);
  color: var(--button-hover-color);
}

/* Стан Disabled */
.button:disabled {
  cursor: not-allowed;
  background-color: var(--button-disabled-bg-color);
  box-shadow: none;
  color: var(--button-disabled-text-color);
  transform: none;
  filter: none;
}

.button:active:not(:disabled) {
  transform: scale(0.95);
}

/* Адаптивність */
@media (max-width: 61.9375rem) {
  /* .header-link {
    font-size: 0.9rem;
  } */

  /* .header-cta-link {
    font-size: 0.5rem;
  } */
}

@media (max-width: 47.9375rem) {
  .fixed-width {
    width: 100%;
    min-width: 5.75rem;
  }
}
