.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 12.5rem;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  white-space: nowrap;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

/* .button:hover {
  border: 0.0625rem solid var(--hover-button-color);
} */

.small,
.medium,
.large {
  height: 3.5rem;
}

.small {
  border: 0.125rem solid var(--border-color);
}

.medium {
  min-width: 10.375rem;
}

.large {
  min-width: 11rem;
}

.default {
  background: var(--button-default-bg-color);
  color: var(--button-default-text-color);
}

/* .primary {
  background-color: var(--button-form-bg-color);
  color: var(--button-form--color);
} */
.primary {
  background-color: var(--button-form-bg-color);
  color: var(--button-form--color);
  border: 0.0625rem solid transparent; /* Рамка є, але її не видно */
  transition: border-color 0.3s ease; /* Плавна поява рамки */
}

.primary:hover {
  background-color: var(
    --button-form-bg-color
  ) !important; /* Не даємо змінювати фон */
  border-color: #ffffff; /* Робимо рамку білою */
}
.secondary {
  background: var(--button-secondary-bg-color);
  color: var(--button-secondary-text-color);
}

.button:disabled,
.primary:disabled,
.secondary:disabled {
  cursor: not-allowed;
  background-color: var(--button-disabled-bg-color);
  color: var(--button-disabled-text-color);
  transform: none;
}

.button:active {
  transform: scale(0.95);
}

.button:hover:not(.small) {
  background-color: var(--hover-bg-color);
}

.button:active:not(.small) {
  background-color: var(--active-bg-color);
}

.small:hover {
  background-color: transparent;
  border-color: var(--hover-color);
}

.small:active {
  background-color: transparent;
  border-color: var(--active-color);
}
