.gallery-specific-modal {
  position: relative;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 90vw !important;
  height: auto !important;
  max-width: 35rem !important;
  max-height: 90vh !important;
  padding: 0 !important;
  overflow: hidden !important;
  background-color: #111;
  border-radius: 1.5rem;
}

.gallery-specific-modal :global(.modal-content) {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}

.img-wrapper {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  aspect-ratio: 1 / 1 !important;
}

.full-img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: center;
}

@media (max-width: 47.9375rem) {
  .gallery-specific-modal {
    width: 95vw !important;
    height: auto !important;
  }

  .img-wrapper {
    height: auto;
  }
}
