.selector-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: center;
}

.main-title {
  text-transform: uppercase;
  color: var(--text-reviews-color);
}

.zone-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  flex-wrap: nowrap;
}

.zone-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 6.5rem;
  background: none;
  border: none;
  transition: transform 0.3s ease;
}

.zone-card:hover {
  transform: translateY(-0.3125rem);
}

.img-wrapper {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border: 0.125rem solid var(--color-white);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.active-border {
  border: 0.25rem solid var(--color-white);
  box-shadow: 0 0 0.625rem 0.125rem var(--color-light-brown);
}

.zone-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
}

.zone-label {
  font-size: 0.85rem;
  line-height: 1.5;
  color: var(--text-reviews-color);
}

.active-text {
  font-weight: bold;
  text-decoration: underline;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: rgb(0 0 0 / 85%);
}

.modal-content {
  position: relative;
  width: 100%;
  max-width: 28rem;
  max-height: 90vh;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow-y: auto;
  background: #3e2b24;
  border-radius: 1.5rem;
}

.modal-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.modal-title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #fff;
}

.modal-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn-confirm,
.btn-back {
  flex: 1;
  cursor: pointer;
  padding: 0.8rem;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
}

.btn-confirm {
  background: #dcb083;
  color: #3e2b24;
}

.btn-back {
  background: transparent;
  border: 0.0625rem solid rgb(255 255 255 / 30%);
  color: #fff;
}

@media (max-width: 47.9375rem) {
  .zone-grid {
    gap: 0.8rem;
    flex-wrap: nowrap;
  }
}

@media (max-width: 29.9375rem) {
  .zone-grid {
    align-items: flex-start;
    gap: 0.2rem;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
}
