.contacts-section {
  max-width: 68.75rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 1.5rem;
  background-color: var(--body-bg-color);
  border-bottom: 0.0625rem solid var(--section-border-bottom-color);
  box-shadow: inset 0 -0.625rem 0.625rem -0.3125rem
    var(--section-border-bottom-color);
  font-family: Inter, sans-serif;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  animation: header-slide-down 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.contacts-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 2.5rem;
  padding: 2.5rem 0;
}

.contacts-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.contacts-title {
  margin-top: -0.4375rem;
  padding-top: 0;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: var(--primary-color);
}

.contacts-adress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  color: var(--tertiary-color);
}

.contacts-hours {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  color: var(--tertiary-color);
}

.contacts-map {
  margin-top: 2rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.9375rem var(--shadow-contacts-map-form);
  flex: 1;
  display: flex;
}
.contacts-map iframe {
  height: 100%;
  width: 100%;
  min-height: 18.75rem;
}
.contact-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  margin-top: 0;
  padding: 2rem;
  background-color: var(--contact-form-bg-color);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.9375rem var(--shadow-contacts-map-form);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  background-color: var(--contact-input-texarea-bg-color);
  border: 0.0625rem solid var(--color-white);
  border-radius: 0.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: var(--text-form-color);
}

.contact-form textarea {
  min-height: 9.375rem;
  resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--input-textarea-border-color);
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-form-color);
  opacity: 0.6;
  font-size: 1rem;
}

.contact-form input::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
  opacity: 1;
}
.contact-submit-btn {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--contact-submit-btn-bg-color);
  border: none;
  border-radius: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  color: var(--text-form-color);
  transition: all 0.3s ease;
  margin-top: 0.7rem;
  font-family: 'Inter', sans-serif;
}

@media (width >= 48rem) {
  .contacts-content {
    flex-direction: row;
    align-items: stretch;
  }
}

@media (width <= 48rem) {
  .contacts-content {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .contacts-map {
    width: 100%;
    height: 18.75rem;
  }
}
