.contacts-section {
  max-width: 68.75rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 1.5rem;
  background-color: var(--body-bg-color);
  border-bottom: 0.0625rem solid var(--section-border-bottom-color);
  box-shadow: inset 0 -0.625rem 0.625rem -0.3125rem
    var(--section-border-bottom-color);
  font-family: Inter, sans-serif;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  animation: header-slide-down 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.contacts-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 2.5rem;
  padding: 2.5rem 0;
}

/* Ліва колонка — інформація та карта */
.contacts-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
  box-sizing: border-box;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

/* Права колонка — форма */
.contact-form-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
}

/* Заголовок */
.contacts-title {
  margin-top: -0.4375rem;
  padding-top: 0;
  line-height: 1;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: var(--primary-color);
}
.contacts-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  font-size: 1.1rem;
  color: var(--tertiary-color);

  transition: color 0.3s ease;
}

.info-icon {
  flex-shrink: 0;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}
/* Адреса та години */
.contacts-adress,
.contacts-hours {
  display: none;
}
.contacts-item:hover .info-icon {
  transform: scale(1.1);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}
/* Карта */
.contacts-map {
  margin-top: 2rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.9375rem var(--shadow-contacts-map-form);
  flex: 1;
  display: flex;
}
/* Клас для запуску анімації */
.map-pin-animated {
  animation: pin-pulse 2s infinite ease-in-out;
}

/* Опис того, як саме пульсує іконка */
@keyframes pin-pulse {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0px var(--icon-map-color));
  }
  50% {
    transform: scale(1.15);
    filter: drop-shadow(0 0 10px var(--icon-map-color));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0px var(--icon-map-color));
  }
}
.contacts-map iframe {
  width: 100%;
  height: 100%;
  min-height: 18.75rem;
  border: 0;
}

/* ===================== */
/* Медіа-запити для мобільних */
/* ===================== */
@media (max-width: 48rem) {
  .contacts-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .contacts-info,
  .contact-form-container {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }

  .contacts-map {
    width: 100%;
    height: 18.75rem;
  }
}
