/* .text-services-modal p {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  text-indent: 1em;
  color: var(--primary-color);
}

@media (width <= 74.9375rem) {
  .text-services-modal p {
    font-size: 1.1rem;
  }
}

@media (width <= 61.9375rem) {
  .text-services-modal p {
    font-size: 1rem;
  }
}

@media (width <= 47.9375rem) {
  .text-services-modal p {
    font-size: 0.9rem;
  }
}

@media (width <= 29.9375rem) {
  .text-services-modal p {
    font-size: 0.8rem;
  }
} */
